.refresh-button:before {
	content: "\f463";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 25px/1 'dashicons';
	vertical-align: top;
	padding: 3px 0 0 10px;
}

.connector_fields_actions {
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(255,255,255,0.95);
}

.connectors_list_actions {
	margin-top: 15px;
	float: left;
	clear: left;
}

.ns_extractor_connectors_list .tablenav.bottom,
.ns_extractor_connectors_list .tablenav.top,
.ns_extractor_connector_form .tablenav.bottom,
.ns_extractor_connector_form .tablenav.top {
	max-width: 40px;
	float: right;
	clear: none;
}

.ns_extractor_connector_form .submit {
	margin-top: 5px;
}

.ns_extractor_connectors_list .connectors-h3 {
	margin-bottom: 0;
}

.ns_extractor_connectors_list .connectors-h3,
.ns_extractor_connector_form .fields-h2 {
	float: left;
	padding-bottom: 10px;
}

@media (max-width: 782px) {
	.ns_extractor_connectors_list .tablenav.bottom,
	.ns_extractor_connector_form .tablenav.bottom {
		display: none;
	}
}